.backgroundImage {
  position: relative;
  background: url("/assets/images/background_banner.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 25vw;
  padding: 0 3.5rem;
}

.backgroundImage::before{
  content: '';
  background-color: var(--shaded-background-color);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 70%;
}
