@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --primary-background-color:#256857;
  --base-color:#F5EFEF;
  --arrow-color:#91BFB2;
  --secondary-color:#B79A9E;
  --shaded-background-color:#256857c4;
  --Text-Sub-color:#A0A0A0;
  --background-sandcolor:#FBF3F0;
  --secondary-base-color:#F1E4DE
}

/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
